.app{
    padding: 20px 0 0 0 ;
}
body{
    background-color: #eeeeee;
}
.nav-tabs .nav-item{
    width: 50%;
    height: 60px;
    border-radius: 0;
    border: 1px solid #ebebeb;
    text-align: center;
    background: white;
    box-shadow: 0px 1px 3px #888888;
    color: #706f6f;
    font-weight: bold;
    &, &:hover{
      border-bottom: 3px solid #a0a0a0;
    }
    &.active{
      border-bottom-color: #ff6500;
      color: #505050;
    }
}

.tab-pane{
  background: transparent;
}